@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.placeholder {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  mix-blend-mode: color;
  z-index: 1;
}

img {
  max-width: 100%;
  transform: translateZ(0);
}
